<!DOCTYPE html>
<html lang="zh-CN">
  <head>
  	<title></title>
  	<meta charset="UTF-8"/>
    <#import "app.ftl" as m>
	<@m.head/>
  </head>
  <body>
  	<form id="addForm">
  		<div class="container">
  			<!-- 表单数据 -->
		   	<div class="form-group">
			    <label class="col-sm-2 control-label">宾馆名称</label>
			    <div class="col-sm-4">
					<input type="text" name="hotelName" class="form-control" placeholder="" value="">
					<span class="help-block"></span>
		    	</div>
			    <label class="col-sm-2 control-label">新建时间：</label>
			   	<div class='input-group date' id='datetimepicker1' style="position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;">
			        <input type='text' class="form-control" name="createTimeStr" id="createTimeStr" value="${createTimeStr}"/>
			        <span class="input-group-addon">
			            <span class="glyphicon glyphicon-calendar"></span>
			        </span>
			    </div>
		   	</div>
			<div class="form-group">
			    <label class="col-sm-2 control-label">床单价格：</label>
			    <div class="col-sm-4">
					<input type="text" name="chuangdan" class="form-control" placeholder="" value="0">
					<span class="help-block"></span>
				</div>
			    <label class="col-sm-2 control-label">个数：</label>
			    <div class="col-sm-4">
					<input type="text" name="chuangdanNum" class="form-control" placeholder="" value="0" maxlength="3">
				  	<span class="help-block"></span>
				</div>
			</div>
			<div class="form-group">
			    <label class="col-sm-2 control-label">被罩价格：</label>
			    <div class="col-sm-4">
					<input type="text" name="beizhao" class="form-control" placeholder="" value="0">
					<span class="help-block"></span>
				</div>
			    <label class="col-sm-2 control-label">个数：</label>
			    <div class="col-sm-4">
					<input type="text" name="beizhaoNum" class="form-control" placeholder="" value="0" maxlength="3">
				  	<span class="help-block"></span>
				</div>
			</div>
			<div class="form-group">
			    <label class="col-sm-2 control-label">枕巾价格：</label>
			    <div class="col-sm-4">
					<input type="text" name="zhenjin" class="form-control" placeholder="" value="0">
					<span class="help-block"></span>
				</div>
			    <label class="col-sm-2 control-label">个数：</label>
			    <div class="col-sm-4">
					<input type="text" name="zhenjinNum" class="form-control" placeholder="" value="0" maxlength="3">
				  	<span class="help-block"></span>
				</div>
			</div>
			
			<div class="form-group">
			   <label class="col-sm-2 control-label">浴巾价格：</label>
			    <div class="col-sm-4">
					<input type="text" name="yujin" class="form-control" placeholder="" value="0" >
					<span class="help-block"></span>
				</div>
			    <label class="col-sm-2 control-label">个数：</label>
			    <div class="col-sm-4">
					<input type="text" name="yujinNum" class="form-control" placeholder="" value="0" maxlength="3">
				  	<span class="help-block"></span>
				</div>
			</div>
			<div class="form-group">
			    <label class="col-sm-2 control-label">面巾价格：</label>
			    <div class="col-sm-4">
					<input type="text" name="mianjin" class="form-control" placeholder="" value="0">
					<span class="help-block"></span>
				</div>
			    <label class="col-sm-2 control-label">个数：</label>
			    <div class="col-sm-4">
					<input type="text" name="mianjinNum" class="form-control" placeholder="" value="0" maxlength="3">
				  	<span class="help-block"></span>
				</div>
			</div>
			<div class="form-group">
			    <label class="col-sm-2 control-label">浴袍价格：</label>
			    <div class="col-sm-4">
					<input type="text" name="yupao" class="form-control" placeholder="" value="0">
					<span class="help-block"></span>
				</div>
			    <label class="col-sm-2 control-label">个数：</label>
			    <div class="col-sm-4">
					<input type="text" name="yupaoNum" class="form-control" placeholder="" value="0" maxlength="3">
				  	<span class="help-block"></span>
				</div>
			</div>
			<div class="form-group">
			    <label class="col-sm-2 control-label">窗帘价格：</label>
			    <div class="col-sm-4">
					<input type="text" name="chuanglian" class="form-control" placeholder="" value="0">
					<span class="help-block"></span>
				</div>
			    <label class="col-sm-2 control-label">个数：</label>
			    <div class="col-sm-4">
					<input type="text" name="chuanglianNum" class="form-control" placeholder="" value="0" maxlength="3">
				  	<span class="help-block"></span>
				</div>
			</div>
			<div class="form-group">
			    <label class="col-sm-2 control-label">窗纱价格：</label>
			    <div class="col-sm-4">
					<input type="text" name="chuangsha" class="form-control" placeholder="" value="0">
					<span class="help-block"></span>
				</div>
			    <label class="col-sm-2 control-label">个数：</label>
			    <div class="col-sm-4">
					<input type="text" name="chuangshaNum" class="form-control" placeholder="" value="0" maxlength="3">
				  	<span class="help-block"></span>
				</div>
			</div>
			<div class="form-group">
			    <label class="col-sm-2 control-label">汗蒸服价格：</label>
			    <div class="col-sm-4">
					<input type="text" name="hanzhengfu" class="form-control" placeholder="" value="0">
					<span class="help-block"></span>
				</div>
			    <label class="col-sm-2 control-label">个数：</label>
			    <div class="col-sm-4">
					<input type="text" name="hanzhengfuNum" class="form-control" placeholder="" value="0" maxlength="3">
				  	<span class="help-block"></span>
				</div>
			</div>
			<div class="form-group">
			    <label class="col-sm-2 control-label">大台布价格：</label>
			    <div class="col-sm-4">
					<input type="text" name="taibuDa" class="form-control" placeholder="" value="0">
					<span class="help-block"></span>
				</div>
			    <label class="col-sm-2 control-label">个数：</label>
			    <div class="col-sm-4">
					<input type="text" name="taibuDaNum" class="form-control" placeholder="" value="0" maxlength="3">
				  	<span class="help-block"></span>
				</div>
			</div>
			<div class="form-group">
			    <label class="col-sm-2 control-label">小台布价格：</label>
			    <div class="col-sm-4">
					<input type="text" name="taibuXiao" class="form-control" placeholder="" value="0">
					<span class="help-block"></span>
				</div>
			    <label class="col-sm-2 control-label">个数：</label>
			    <div class="col-sm-4">
					<input type="text" name="taibuXiaoNum" class="form-control" placeholder="" value="0" maxlength="3">
				  	<span class="help-block"></span>
				</div>
			</div>
			
		</div>
  		<div class="modal-footer">
	        <button type="button" class="btn btn-danger btn-sm" id="close_btn">
	        	<span class="glyphicon glyphicon-remove"></span> 关闭
	        </button>
	        <button type="button" class="btn btn-primary btn-sm" id="save_btn">
	        	<span class="glyphicon glyphicon glyphicon-ok"></span>保存
	        </button>
	    </div>
  	</form>
  	<script type="text/javascript">
		$("#close_btn").click(function(){
			doClose();
		});
		
		$("#save_btn").click(function(){
			//2、发送ajax请求保存员工
			$.ajax({
				url:"/save",
				type:"POST",
				async: false,
				data:$("#addForm").serialize(),
				success:function(result){
					window.parent.toLastPage();
					doClose();
				}
			});
		});
		$('#datetimepicker1').datetimepicker({
			language: "zh-CN",
	        format: 'yyyy-mm-dd hh:ii:ss',//显示格式
	        initialDate: new Date(),
	        clearBtn:true,// 自定义属性,true 显示 清空按钮 false 隐藏 默认:true
	        weekStart: 1,
	        todayHighlight: 1,
	        autoclose: true,//选中自动关闭
	        todayBtn: true//显示今日按钮
	    });
	</script>
  </body>
</html>