<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>宾馆售货情况统计系统 </title>
    <meta charset="UTF-8"/>
    <#import "app.ftl" as m>
	<@m.head/>
</head>
<body>
	
	<!-- 搭建显示页面 -->
	<div class="container">
		<!-- 标题 -->
		<div class="row">
			<div class="col-md-12">
				<h2>宾馆售货情况统计打印页面 </h2>
			</div>
		</div>
		<!-- 按钮 -->
		<!-- 显示表格数据 -->
		<div class="row">
			<div class="col-lg-12">
				<table class="table table-hover" id="emps_table">
					<thead>
						<tr>
				            <th>宾馆名称</th>
				            <th>床单</th>
				            <th>被罩</th>
				            <th>枕巾</th>
				            <th>浴巾</th>
				            <th>面巾</th>
				            <th>浴袍</th>
				            <th>窗帘</th>
				            <th>窗纱</th>
				            <th>汗蒸服</th>
				            <th>大台布</th>
				            <th>小台布</th>
				            <th>合计</th>
						</tr>
					</thead>
					<tbody>
					<#if pageInfo.list??>
		    		<#list pageInfo.list as good>
			    		<tr>
			    			<td>${good.hotelName?default('')}</td>
			    			<td>${good.chuangdanNum!0}</td>
			    			<td>${good.beizhaoNum!0}</td>
			    			<td>${good.zhenjinNum!0}</td>
			    			<td>${good.yujinNum!0}</td>
			    			<td>${good.mianjinNum!0}</td>
			    			<td>${good.yupaoNum!0}</td>
			    			<td>${good.chuanglianNum!0}</td>
			    			<td>${good.chuangshaNum!0}</td>
			    			<td>${good.hanzhengfuNum!0}</td>
			    			<td>${good.taibuDaNum!0}</td>
			    			<td>${good.taibuXiaoNum!0}</td>
			    			<td>
			    				100
			    			</td>
			    		</tr>
		    		</#list>
		    		</#if>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>